/*  Estilos da pagina index.html */

.center {
    text-align: center;
}

.container {
    display:flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    
}

#menu li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color:grey;
    font-size:20px
}

#menu li a:hover{
    color:#ffc0cb;
}
 
.mb-50 {
    margin-bottom: 30px;
    padding: 20px;
}

.ml-50 {
    margin-left: 50px;
   
}

/*  Estilos da pagina contato.html */




